**/.DS_Store
.gitignore
**/__pycache__/
.DS_Store
.vscode/launch.json
**/database.db
**/log_files/
**/.idea/
DMS/DB/log_files/queries.log
DMS/DB/database.db
**/build/
**/dist/
__main__.spec
**/queries.log
**/query.log
DMS/DB/query.log
COMP0066_CW_group_2.zip
