
.idea/inspectionProfiles/profiles_settings.xml
.idea/inspectionProfiles/Project_Default.xml
.idea/Introductory-Programming.iml
.idea/misc.xml
.idea/vcs.xml
DMS/__pycache__/__init__.cpython-312.pyc
DMS/__pycache__/__main__.cpython-312.pyc
DMS/__pycache__/util.cpython-312.pyc
DMS/DB/__pycache__/__init__.cpython-312.pyc
DMS/DB/__pycache__/camp.cpython-312.pyc
DMS/DB/__pycache__/config.cpython-312.pyc
DMS/DB/__pycache__/plan.cpython-312.pyc
DMS/DB/__pycache__/refugee.cpython-312.pyc
DMS/DB/__pycache__/volunteer.cpython-312.pyc
DMS/DB/log_files/queries.log
DMS/Logic/__pycache__/__init__.cpython-312.pyc
DMS/Logic/__pycache__/person_data_retrieve.cpython-312.pyc
DMS/Logic/__pycache__/plan_data_retrieve.cpython-312.pyc
DMS/UI/__pycache__/__init__.cpython-312.pyc
DMS/UI/__pycache__/dummydata.cpython-312.pyc
DMS/UI/__pycache__/UI_dashboard.cpython-312.pyc
DMS/UI/__pycache__/UI_header.cpython-312.pyc
DMS/UI/__pycache__/UI_login.cpython-312.pyc
DMS/UI/__pycache__/UI_manage_list.cpython-312.pyc
DMS/UI/__pycache__/UI_manager.cpython-312.pyc
DMS/UI/__pycache__/UI_modify_entries.cpython-312.pyc
DMS/UI/__pycache__/UI_utlities.cpython-312.pyc
DMS/UI/__pycache__/__init__.cpython-311.pyc
DMS/UI/__pycache__/dummydata.cpython-311.pyc
DMS/UI/__pycache__/UI_dashboard.cpython-311.pyc
DMS/UI/__pycache__/UI_header.cpython-311.pyc
DMS/UI/__pycache__/UI_login.cpython-311.pyc
DMS/UI/__pycache__/UI_manage_list.cpython-311.pyc
DMS/UI/__pycache__/UI_manager.cpython-311.pyc
DMS/UI/__pycache__/UI_modify_entries.cpython-311.pyc
DMS/UI/__pycache__/UI_utlities.cpython-311.pyc
DMS/__pycache__/__init__.cpython-311.pyc
